/* General */  
body {
    width: 1700px;
    margin: 0 auto;
  }
/* Typography */  
h1, h2 { 
    text-align: center;
  }
/* block styling */  
body > div {
    border: 5px solid black;
    display: flex;
  }
/* Form styling */  
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./images/water_flow.jpg) no-repeat 50% center;
    color: black;
  }
/* Styling the products display */ 
.item img {
    size: 150 px;
}